<!-- <ng-include src="ctrl.templateUrl"></ng-include> -->

<div class="statusPage">
    <div class="col-lg-8 col-lg-push-2">
        <div class="widget-modal r">
            <div class="widget-modal-heading">
                Collectors status
            </div>
            <div class="widget-modal-body">
                <table class="table table-x">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Last Execution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </td>
                            <td>Gitlab</td>
                            <td>25th Jun, 5:12:26pm</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </td>
                            <td>Sonar</td>
                            <td>25th Jun, 5:12:26pm</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0">
                                <div class="alert alert-danger">Error details will go in here.</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </td>
                            <td>Jenkins</td>
                            <td>25th Jun, 5:12:26pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>