<div class="panel panel-default" ng-class="{ minimised: $ctrl.minimised }"> 
    <div class="panel-heading" ng-click="$ctrl.showHide()"> 
      <h3 class="panel-title"><img src="../dist/assets/img/bot.png" />  
        Insights 
        <span ng-if="$ctrl.insightsCount" class="badge badge-error">{{$ctrl.insightsCount}}</span>
        <span class="glyphicon glyphicon-triangle-bottom pull-right"></span> 
        <span class="glyphicon glyphicon-triangle-top pull-right"></span> 
      </h3> 
      <p>I'm here to provide some insights into your metrics.</p> 
    </div> 
    <div class="panel-body"> 
      <div class="bubble" ng-repeat="insight in $ctrl.insights">
        {{insight.message}} 
        <a ng-click="$ctrl.insightSeen()" target="_blank" href="{{insight.cta.link}}">{{insight.cta.title}}<span class="glyphicon glyphicon-new-window"></span></a> 
      </div> 
    </div> 
    <div class="panel-footer"> 
      <input type="text" placeholder="Potential future chat feature" style="padding: 9px 20px; width: 230px;" /> 
      <a class="btn btn-primary pull-right">send</a> 
    </div> 
  </div>