<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="data:image/png;base64,{{$ctrl.logo}}">
          </a>
        </div>

      </div>
      <div class="col-md-5 col-sm-6 hidden-xs">
        <!-- Team Dashboard -->
        <div ng-if="$ctrl.page === 'teamDashboard'">
          <h3>{{$ctrl.projectDetails.name}}</h3>
          <div class="hidden-sm hide">
            <dl ng-if="($ctrl.projectDetails.monetoryValue && $ctrl.projectDetails.monetoryValue !== '')">
              <dt>Revenue:</dt>
              <dd>{{$ctrl.projectDetails.monetoryValue}}&emsp;</dd>
            </dl>
            <dl ng-if="($ctrl.projectDetails.teamSize && ($ctrl.projectDetails.teamSize > 0 || $ctrl.projectDetails.teamSize !==''))">
              <dt>Team Size:</dt>
              <dd>{{$ctrl.projectDetails.teamSize}}&emsp;&emsp;</dd>
            </dl>
            <dl ng-if="($ctrl.projectDetails.startDate && $ctrl.projectDetails.startDate !=='')">
              <dt>Start Date:</dt>
              <dd>{{$ctrl.projectDetails.startDate}}&emsp;&emsp;</dd>
            </dl>
            <dl ng-if="($ctrl.projectDetails.endDate && $ctrl.projectDetails.endDate !=='')">
              <dt>End Date:</dt>
              <dd>{{$ctrl.projectDetails.endDate}}&emsp;&emsp;</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="$ctrl.page === 'teamDashboard'" class="hideShow">
            <div class="navbar-form">
              <button type="button" class="btn btn-default">Maturity Radar</button>
            </div>
          </li>
          <li ng-if="$ctrl.page === 'teamDashboard'" class="hideShow">
            <div class="navbar-form">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal-hideShow">
                <span class="fa fa-th glyphicon glyphicon-th"></span>&nbsp; Hide/Show</button>
            </div>
          </li>
          <li ng-if="$ctrl.page !== 'teamDashboard'" role="presentation" class="dropdown" uib-dropdown>
            <a class="dropdown-toggle btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
              uib-dropdown-toggle>
              Speedy User
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li>
                <a href="#/">Readme</a>
              </li>
              <li>
                <a href="#/sink">Kitchen Sink</a>
              </li>
              <li>
                <a href="#/status">Status</a>
              </li>
              <li>
                <a href="#/settings">Settings</a>
              </li>
              <li>
                <a href="#/team-dashboard">Team Dashboard</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
